<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">{{ "ResetPassword" | translate:locale.language }}</li>
    </ol>
</nav>

<div class="container">
    <div class="row">
        <div class="col">
            <h2>{{ "ResetPassword" | translate:locale.language }}</h2>
        </div>
    </div>

    @if (status === 'form') {
        <div class="row">
            <div class="col">
                <p>{{ "ResetPasswordInfo" | translate:locale.language }}</p>
                <form [formGroup]="resetForm">
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label class="form-label" for="password">{{ "NewPassword" | translate:locale.language }}:</label>
                            <input class="form-control" formControlName="password" id="password" required type="password"/>
                            <div class="form-text">{{ "PasswordMinLength" | translate:locale.language }}</div>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label" for="passwordConfirm">{{ "NewPasswordConfirm" | translate:locale.language }}:</label>
                            <input class="form-control" formControlName="passwordConfirm" id="passwordConfirm" required type="password"/>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-12 d-grid">
                            <button (click)="submit()" class="btn btn-success" type="submit">
                                {{ "ResetPassword" | translate:locale.language }}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    } @else if (status === 'success') {
    <div class="row">
        <div class="col">
            <div class="alert alert-success" role="alert">
                <p>{{ "success.PasswordReset" | translate:locale.language }}</p>
                <hr>
                <p class="mb-0">
                    <a routerLink="/login" class="btn btn-primary">{{ "GoToLogin" | translate:locale.language }}</a>
                </p>
            </div>
        </div>
    </div>
} @else if (status === 'error') {
    <div class="row">
        <div class="col">
            <div class="alert alert-danger" role="alert">
                <p>{{ "error.backend." + errorMessage | translate:locale.language }}</p>
                <hr>
                <p class="mb-0">
                    <a routerLink="/forgot-password" class="btn btn-primary">{{ "ForgotPasswordTitle" | translate:locale.language }}</a>
                </p>
            </div>
        </div>
    </div>
}
</div>
