<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">{{ "Login" | translate:locale.language }}</li>
    </ol>
</nav>

<div class="container">
    <div class="row">
        <div class="col">
            <h2>{{ "Login" | translate:locale.language }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form [formGroup]="loginForm">
                <div class="row">
                    <div class="col-md-6">
                        <label class="form-label" for="email">{{ "Email" | translate:locale.language }}:</label>
                        <input class="form-control" formControlName="email" id="email" required type="email"/>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="password">{{ "Password" | translate:locale.language }}:</label>
                        <input class="form-control" formControlName="password" id="password" required type="password"/>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-12 d-grid">
                        <button (click)="login()" class="btn btn-success" type="submit">
                            {{ "Login" | translate:locale.language }}
                        </button>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-12 text-center">
                        <a routerLink="/auth/forgot-password">{{ "ForgotPassword" | translate:locale.language }}</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
