<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="/">{{"Home" | translate:locale.language}}</a>
        </li>
        <li class="breadcrumb-item">
            <a routerLink="/model">{{"Models" | translate:locale.language}}</a>
        </li>
        <li class="breadcrumb-item active">
            {{"CreateModel" | translate:locale.language}}
        </li>
    </ol>
</nav>

<div class="container">
    <div class="row">
        <div class="col">
            <h2>{{"CreateModel" | translate:locale.language}}</h2>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <div class="btn-group w-100" role="group">
                <button type="button"
                        class="btn"
                        [class.btn-primary]="creationMethod === 'upload'"
                        [class.btn-outline-primary]="creationMethod != 'upload'"
                        (click)="creationMethod = 'upload'">
                    {{"CreateModelManually" | translate:locale.language}}
                </button>
                <button type="button"
                        class="btn"
                        [class.btn-primary]="creationMethod === 'import'"
                        [class.btn-outline-primary]="creationMethod != 'import'"
                        (click)="creationMethod = 'import'">
                    {{"CreateModelImport" | translate:locale.language}}
                </button>
            </div>
        </div>
    </div>
    <div class="row mt-4" *ngIf="creationMethod === 'upload'">
        <div class="col">
            <form [formGroup]="uploadForm">
                <div class="row">
                    <div class="col">
                        <label for="modelName">{{'ModelName' | translate:locale.language}}:</label>
                        <input id="modelName" type="text" class="form-control"
                               formControlName="name" required
                               [placeholder]="'Name' | translate:locale.language">
                    </div>
                    <div class="col">
                        <label for="author">{{'Author' | translate:locale.language}}:</label>
                        <input id="author" type="text" class="form-control"
                               formControlName="author" required
                               [placeholder]="'Author' | translate:locale.language">
                    </div>
                    <div class="col">
                        <div class="form-check form-check-inline mt-4">
                            <input id="favorite" type="checkbox" class="form-check-input"
                                   formControlName="favorite">
                            <label for="favorite" class="form-check-label">
                                {{'Favorite' | translate:locale.language}}?
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <label for="desc">{{'Description' | translate:locale.language}}</label>:
                        <textarea id="desc" class="form-control"
                                  formControlName="description"
                                  [placeholder]="'Description' | translate:locale.language"></textarea>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <button class="btn btn-primary" type="submit"
                                (click)="createModel()">
                            {{"CreateModel" | translate:locale.language}}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row mt-4" *ngIf="creationMethod === 'import'">
        <div class="col">
            <form [formGroup]="importForm">
                <label for="url">{{"ModelURL" | translate:locale.language}}</label>:
                <div class="input-group mb-3">
                    <input id="url" type="url" class="form-control"
                           formControlName="url"
                           [placeholder]="'EnterURL' | translate:locale.language">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit"
                                (click)="startImport()">
                            {{"StartImport" | translate:locale.language}}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
