<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">
            <a routerLink="/">{{"Home" | translate:locale.language}}</a>
        </li>
        <li class="breadcrumb-item">
            <a routerLink="/model">{{"Models" | translate:locale.language}}</a>
        </li>
        <li class="breadcrumb-item active" *ngIf="model">
            {{"Model" | translate:locale.language}}: {{model.name}}
        </li>
    </ol>
</nav>

<div class="container-fluid">
    <form class="row row-cols-auto align-items-center ms-1">
        <div class="p-0">
            <h2>
                <span class="fas fa-cube mx-1"></span>
                <span class="mx-1" *ngIf="!editName && model">{{model.name}}</span>
            </h2>
        </div>
        <div class="p-0" *ngIf="editName && model">
            <label for="modelName" class="visually-hidden form-label">
                {{"ModelName" | translate:locale.language}}
            </label>
            <input class="form-control" type="text" id="modelName"
                   #inputName [value]="model.name"
                   (change)="updateField(inputName, 'name')"/>
        </div>
        <div class="p-0">
            <button class="btn btn-sm text-secondary" (click)="toggleField('name')">
                <span class="fas fa-pencil-alt"></span>
            </button>
        </div>
        <div class="p-0 ps-2" *ngIf="model && model.imported_name">
            <small class="text-muted mx-1">
                {{"OriginalName" | translate:locale.language}}: {{model.imported_name}}
            </small>
        </div>
    </form>
    <form class="row row-cols-auto align-items-center ms-1">
        <div class="p-0">
            <span class="fas fa-user me-1 ms-4 text-secondary"></span>
            <!--<span class="mx-1 text-secondary">{{"Author" | translate:locale.language}}: </span>-->
            <span class="mx-1 text-secondary" *ngIf="!editAuthor && model">{{model.author}}</span>
        </div>
        <div class="p-0" *ngIf="editAuthor && model">
            <label for="modelAuthor" class="visually-hidden form-label">
                {{"ModelAuthor" | translate:locale.language}}
            </label>
            <input class="form-control form-control-sm" type="text" id="modelAuthor"
                   #inputAuthor [value]="model.author"
                   (change)="updateField(inputAuthor, 'author')"/>
        </div>
        <div class="p-0">
            <button class="btn btn-xs text-secondary" (click)="toggleField('author')">
                <span class="fas fa-pencil-alt"></span>
            </button>
        </div>
        <div class="p-0 ps-2" *ngIf="model && model.imported_author">
            <small class="text-muted mx-1">
                {{"OriginalBy" | translate:locale.language}}: {{model.imported_author}}
            </small>
        </div>
    </form>
    <div class="row my-3" *ngIf="model">
        <div class="col-md-9 my-1">
            <file-carousel-element [modelId]="modelId"></file-carousel-element>
        </div>
        <div class="col-md-3 my-1">
            <div class="list-group">
                <button class="list-group-item list-group-item-action"
                        (click)="uploadMode = !uploadMode"
                        [class.active]="uploadMode">
                    <span class="fas fa-upload me-2"
                          [class.text-primary]="!uploadMode"
                          [class.text-white]="uploadMode">
                    </span> {{"Upload" | translate:locale.language}}
                </button>
                <button class="list-group-item list-group-item-action"
                        (click)="downloadZip('all')">
                    <span class="fas fa-file-archive text-primary me-2">
                    </span> {{'DownloadAllFiles' | translate:locale.language}}
                </button>
                <button class="list-group-item list-group-item-action"
                        (click)="downloadZip('model')">
                    <span class="far fa-file-archive text-primary me-2">
                    </span> {{'Download3DModels' | translate:locale.language}}
                </button>
                <button class="list-group-item list-group-item-action"
                        *ngIf="!uploadMode"
                        [class.active]="model.favorite"
                        (click)="changeFavorite()">
                    <span class="fa-heart me-2"
                          [class.far]="!model.favorite" [class.fas]="model.favorite"
                          [class.text-primary]="!model.favorite" [class.text-white]="model.favorite"
                          [class.bg-primary]="model.favorite"></span>
                    {{"Favorite" | translate:locale.language}}
                </button>
                <div class="list-group-item list-group-item-action" *ngIf="!uploadMode">
                    <app-tags-element [modelId]="modelId"></app-tags-element>
                </div>
                <div class="list-group-item list-group-item-action p-1" *ngIf="uploadMode">
                    <app-upload-element [modelId]="modelId"></app-upload-element>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-md-3 my-1">
            <div class="list-group">
                <button class="list-group-item list-group-item-action"
                        [class.active]="navigation === 'description'"
                        (click)="navigation = 'description'">
                    <span class="fas fa-edit text-primary me-2"
                          [class.text-primary]="navigation !== 'description'"
                          [class.text-white]="navigation === 'description'"></span>
                    {{"Description" | translate:locale.language}}
                </button>
                <button class="list-group-item list-group-item-action"
                        [class.active]="navigation === 'import_description'"
                        (click)="navigation = 'import_description'"
                        *ngIf="model && model.imported_description">
                    <span class="far fa-edit text-primary me-2"
                          [class.text-primary]="navigation !== 'import_description'"
                          [class.text-white]="navigation === 'import_description'"></span>
                    {{"ImportedDescription" | translate:locale.language}}
                </button>
                <button class="list-group-item list-group-item-action"
                        [class.active]="navigation === 'notes'"
                        (click)="navigation = 'notes'">
                    <span class="fas fa-sticky-note text-primary me-2"
                          [class.text-primary]="navigation !== 'notes'"
                          [class.text-white]="navigation === 'notes'"></span>
                    {{"Notes" | translate:locale.language}}
                </button>
                <button class="list-group-item list-group-item-action"
                        [class.active]="navigation === 'links'"
                        (click)="navigation = 'links'">
                    <span class="fas fa-link text-primary me-2"
                          [class.text-primary]="navigation !== 'links'"
                          [class.text-white]="navigation === 'links'"></span>
                    {{"Links" | translate:locale.language}}
                </button>
                <button class="list-group-item list-group-item-action"
                        [class.active]="navigation === 'files'"
                        (click)="navigation = 'files'">
                    <span class="fas fa-copy text-primary me-2"
                          [class.text-primary]="navigation !== 'files'"
                          [class.text-white]="navigation === 'files'"></span>
                    {{"Files" | translate:locale.language}}
                </button>
                <button class="list-group-item list-group-item-action disabled"
                        [class.active]="navigation === 'file_viewer'"
                        (click)="navigation = 'file_viewer'">
                    <span class="fas fa-eye text-primary me-2"
                          [class.text-primary]="navigation !== 'file_viewer'"
                          [class.text-white]="navigation === 'file_viewer'"></span>
                    {{"FileViewer" | translate:locale.language}}
                </button>
            </div>
        </div>
        <div class="col-md-9 my-1" *ngIf="model">
            <div class="border border-secondary rounded p-2">
                <div class="row"
                     *ngIf="navigation == 'description' || navigation == 'notes'">
                    <div class="col-md text-end">
                        <small class="text-muted me-2" #saved></small>
                        <div class="btn-group btn-group-sm">
                            <button class="btn btn-outline-success" (click)="saveText($event)"
                                    *ngIf="editMode != EditModes.OnlyView">
                                <span class="fas fa-save"></span>
                            </button>
                            <button class="btn btn-outline-secondary" (click)="switchEditMode()">
                                <span class="fas fa-pencil-alt"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <ng-container [ngSwitch]="navigation">
                    <ng-container *ngSwitchDefault>
                        <div class="row mx-0 mb-3 mt-2">
                            <div *ngIf="editMode != EditModes.OnlyView"
                                 [class.col-md-6]="editMode == EditModes.SplitView"
                                 [class.col-md]="editMode == EditModes.OnlyEdit">
                                <label for="modelDescription" class="visually-hidden form-label">Edit
                                    description</label>
                                <textarea id="modelDescription" [(ngModel)]="model.description"
                                          autosize [minRows]="10"
                                          (change)="saveText($event)"
                                          class="form-control text-monospace small"></textarea>
                            </div>
                            <div *ngIf="editMode != EditModes.OnlyEdit"
                                 [class.col-md-6]="editMode == EditModes.SplitView"
                                 [class.col-md]="editMode == EditModes.OnlyView">
                                <markdown [data]="model.description" emoji katex lineNumbers
                                          class="h-100"></markdown>
                            </div>
                        </div>
                    </ng-container>
                    <div *ngSwitchCase="'import_description'" [innerHTML]="model.imported_description"></div>
                    <div *ngSwitchCase="'notes'">
                        <div class="row mx-0 mb-3 mt-2">
                            <div *ngIf="editMode != EditModes.OnlyView"
                                 [class.col-md-6]="editMode == EditModes.SplitView"
                                 [class.col-md]="editMode == EditModes.OnlyEdit">
                                <label for="modelNotes" class="visually-hidden form-label">Edit notes</label>
                                <textarea id="modelNotes" [(ngModel)]="model.notes"
                                          autosize [minRows]="10"
                                          (change)="saveText($event)"
                                          class="form-control text-monospace small"></textarea>
                            </div>
                            <div *ngIf="editMode != EditModes.OnlyEdit"
                                 [class.col-md-6]="editMode == EditModes.SplitView"
                                 [class.col-md]="editMode == EditModes.OnlyView">
                                <markdown [data]="model.notes" emoji katex lineNumbers
                                          class="h-100"></markdown>
                            </div>
                        </div>
                    </div>
                    <div *ngSwitchCase="'links'" class="m-3">
                        <app-links-element [model]="model"></app-links-element>
                    </div>
                    <div *ngSwitchCase="'files'" class="m-3">
                        <app-files-list-element [modelId]="model.id"></app-files-list-element>
                    </div>
                    <div *ngSwitchCase="'file_viewer'" class="m-3">
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>
