<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <form class="form-inline">
                <div class="mx-1">
                    <h2>
                        <span class="fas fa-cube mx-1"></span>
                        <!--<span class="mx-1">{{"Model" | translate:locale.language}}: </span>-->
                        <span class="mx-1" *ngIf="!editName && model">{{model.name}}</span>
                    </h2>
                </div>
                <div class="form-group mx-1" *ngIf="editName && model">
                    <label for="modelName" class="sr-only">{{"ModelName" | translate:locale.language}}</label>
                    <input class="form-control" type="text" id="modelName"
                           #inputName [value]="model.name"
                           (change)="updateField(inputName, 'name')"/>
                </div>
                <div class="mx-1">
                    <small class="text-muted mx-1" *ngIf="model && model.imported_name">{{model.imported_name}}</small>
                </div>
                <div class="ml-1">
                    <button class="btn btn-sm text-secondary"
                            (click)="toggleField('name')">
                        <span class="fas fa-pencil-alt"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form class="form-inline">
                <div class="mx-1">
                    <span class="fas fa-user mr-1 ml-4 text-secondary"></span>
                    <!--<span class="mx-1 text-secondary">{{"Author" | translate:locale.language}}: </span>-->
                    <span class="mx-1 text-secondary" *ngIf="!editAuthor && model">{{model.author}}</span>
                </div>
                <div class="form-group mx-1" *ngIf="editAuthor && model">
                    <label for="modelAuthor" class="sr-only">{{"ModelAuthor" | translate:locale.language}}</label>
                    <input class="form-control form-control-sm" type="text" id="modelAuthor"
                           #inputAuthor [value]="model.author"
                           (change)="updateField(inputAuthor, 'author')"/>
                </div>
                <div class="mx-1">
                    <small class="text-muted mx-1"
                           *ngIf="model && model.imported_author">{{model.imported_author}}</small>
                </div>
                <div class="ml-1">
                    <button class="btn btn-xs text-secondary"
                            (click)="toggleField('author')">
                        <span class="fas fa-pencil-alt"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="row my-3" *ngIf="model">
        <div class="col-9">
            Renderings, Images, Diagrams, ...
        </div>
        <div class="col-3">
            <div class="list-group my-2">
                <button class="list-group-item list-group-item-action bg-primary text-white">
                    <span class="fas fa-upload text-white mr-2"></span>
                    {{"Upload" | translate:locale.language}}
                </button>
                <button class="list-group-item list-group-item-action"
                        [class.bg-primary]="model.favorite"
                        [class.text-white]="model.favorite"
                        (click)="changeFavorite()">
                    <span class="fa-heart mr-2"
                          [class.far]="!model.favorite" [class.text-primary]="!model.favorite"
                          [class.text-white]="model.favorite" [class.bg-primary]="model.favorite"
                          [class.fas]="model.favorite"></span>
                    {{"Favorite" | translate:locale.language}}
                </button>
                <div class="list-group-item list-group-item-action">
                    <app-tags-element [modelId]="modelId"></app-tags-element>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-3">
            Navigation
        </div>
        <div class="col-9">
            Description
        </div>
    </div>
</div>
