<div class="row mb-5">
    <div class="col">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" [(ngModel)]="redirectAfterImport" id="redirectAfterImport">
            <label class="form-check-label" for="redirectAfterImport">
                {{"RedirectAfterImport" | translate:locale.language}}
            </label>
        </div>
    </div>
</div>
<ng-container *ngIf="enabledImporters">
    <div class="row my-3" *ngIf="enabledImporters.indexOf(ImportSource.Thingiverse) > -1">
        <div class="col">
            <h2>Thingiverse</h2>
            <form>
                <div class="input-group mb-3">
                    <label class="input-group-text" [for]="ImportSource.Thingiverse">
                        {{"ThingiverseId" | translate:locale.language}}:
                    </label>
                    <input type="text" class="form-control" id="thingiverse"
                           (focus)="thingiverseId.select()"
                           [disabled]="importInProgress && currentImport == ImportSource.Thingiverse"
                           placeholder="1234" #thingiverseId>
                    <button class="btn btn-primary" type="submit"
                            [disabled]="importInProgress"
                            (click)="importWithId(thingiverseId, ImportSource.Thingiverse)">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                              *ngIf="importInProgress && currentImport == ImportSource.Thingiverse"></span>
                        {{"StartImport" | translate:locale.language}}
                    </button>
                </div>
                <div class="form-text" [innerHTML]="'ThingiverseImportInfoText' | translate:locale.language"></div>
            </form>
        </div>
    </div>
    <div class="row my-3" *ngIf="enabledImporters.indexOf(ImportSource.MyMiniFactory) > -1">
        <div class="col">
            <h2>MyMiniFactory</h2>
            <form>
                <div class="input-group mb-3">
                    <label class="input-group-text" [for]="ImportSource.MyMiniFactory">
                        {{"MyMiniFactoryId" | translate:locale.language}}:
                    </label>
                    <input type="text" class="form-control" id="myminifactory"
                           (focus)="myMiniFactoryId.select()"
                           [disabled]="importInProgress && currentImport == ImportSource.MyMiniFactory"
                           placeholder="12345" #myMiniFactoryId>
                    <button class="btn btn-primary" type="submit"
                            [disabled]="importInProgress"
                            (click)="importWithId(myMiniFactoryId, ImportSource.MyMiniFactory)">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                              *ngIf="importInProgress && currentImport == ImportSource.MyMiniFactory"></span>
                        {{"StartImport" | translate:locale.language}}
                    </button>
                </div>
                <div class="form-text" [innerHTML]="'MyMiniFactoryImportInfoText' | translate:locale.language"></div>
            </form>
        </div>
    </div>
    <div class="row my-3" *ngIf="enabledImporters.indexOf(ImportSource.Sketchfab) > -1">
        <div class="col">
            <h2>Sketchfab</h2>
            <form>
                <div class="input-group mb-3">
                    <label class="input-group-text" [for]="ImportSource.Sketchfab">
                        {{"SketchfabId" | translate:locale.language}}:
                    </label>
                    <input type="text" class="form-control" id="sketchfab"
                           (focus)="sketchfabId.select()"
                           [disabled]="importInProgress && currentImport == ImportSource.Sketchfab"
                           placeholder="746aff4a91c246329e64dbd2f0f65313" #sketchfabId>
                    <button class="btn btn-primary" type="submit"
                            [disabled]="importInProgress"
                            (click)="importWithId(sketchfabId, ImportSource.Sketchfab)">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                              *ngIf="importInProgress && currentImport == ImportSource.Sketchfab"></span>
                        {{"StartImport" | translate:locale.language}}
                    </button>
                </div>
                <div class="form-text" [innerHTML]="'SketchfabImportInfoText' | translate:locale.language"></div>
            </form>
        </div>
    </div>
    <div class="row my-3" *ngIf="enabledImporters.indexOf(ImportSource.Printables) > -1">
        <div class="col">
            <h2>Printables</h2>
            <form>
                <div class="input-group mb-3">
                    <label class="input-group-text" [for]="ImportSource.Printables">
                        {{"PrintablesId" | translate:locale.language}}:
                    </label>
                    <input type="text" class="form-control" id="printables"
                           (focus)="printablesId.select()"
                           [disabled]="importInProgress && currentImport == ImportSource.Printables"
                           placeholder="123456" #printablesId>
                    <button class="btn btn-primary" type="submit"
                            [disabled]="importInProgress"
                            (click)="importWithId(printablesId, ImportSource.Printables)">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                              *ngIf="importInProgress && currentImport == ImportSource.Printables"></span>
                        {{"StartImport" | translate:locale.language}}
                    </button>
                </div>
                <div class="form-text" [innerHTML]="'PrintablesImportInfoText' | translate:locale.language"></div>
            </form>
        </div>
    </div>
    <div class="row my-3" *ngIf="enabledImporters.indexOf(ImportSource.Instructables) > -1">
        <div class="col">
            <h2>Instructables</h2>
            <form>
                <div class="input-group mb-3">
                    <label class="input-group-text" [for]="ImportSource.Instructables">
                        {{"InstructablesId" | translate:locale.language}}:
                    </label>
                    <input type="text" class="form-control" id="instructables"
                           (focus)="instructablesId.select()"
                           [disabled]="importInProgress && currentImport == ImportSource.Instructables"
                           placeholder="EVLRJPCKUL8MOTU" #instructablesId>
                    <button class="btn btn-primary" type="submit"
                            [disabled]="importInProgress"
                            (click)="importWithId(instructablesId, ImportSource.Instructables)">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                              *ngIf="importInProgress && currentImport == ImportSource.Instructables"></span>
                        {{"StartImport" | translate:locale.language}}
                    </button>
                </div>
                <div class="form-text" [innerHTML]="'InstructablesImportInfoText' | translate:locale.language"></div>
            </form>
        </div>
    </div>
    <div class="row my-3" *ngIf="enabledImporters.indexOf(ImportSource.Cults3D) > -1">
        <div class="col">
            <h2>Cults3D</h2>
            <form>
                <div class="input-group mb-3">
                    <label class="input-group-text" for="cults3d">
                        {{"Cults3DId" | translate:locale.language}}:
                    </label>
                    <input type="text" class="form-control" id="cults3d"
                           (focus)="cults3dId.select()"
                           [disabled]="importInProgress && currentImport == ImportSource.Cults3D"
                           placeholder="doctor-who-onmioji" #cults3dId>
                    <button class="btn btn-primary" type="submit"
                            [disabled]="importInProgress"
                            (click)="importWithId(cults3dId, ImportSource.Cults3D)">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                              *ngIf="importInProgress && currentImport == ImportSource.Cults3D"></span>
                        {{"StartImport" | translate:locale.language}}
                    </button>
                </div>
                <div class="form-text" [innerHTML]="'Cults' +
                 '3DImportInfoText' | translate:locale.language"></div>
            </form>
        </div>
    </div>
    <div class="row my-3" *ngIf="enabledImporters.indexOf(ImportSource.MakerWorld) > -1">
        <div class="col">
            <h2>MakerWorld</h2>
            <form>
                <div class="input-group mb-3">
                    <label class="input-group-text" for="makerworld">
                        {{"MakerWorldId" | translate:locale.language}}:
                    </label>
                    <input type="text" class="form-control" id="makerworld"
                           (focus)="makerworldId.select()"
                           [disabled]="importInProgress && currentImport == ImportSource.MakerWorld"
                           placeholder="54321" #makerworldId>
                    <button class="btn btn-primary" type="submit"
                            [disabled]="importInProgress"
                            (click)="importWithId(makerworldId, ImportSource.MakerWorld)">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                              *ngIf="importInProgress && currentImport == ImportSource.MakerWorld"></span>
                        {{"StartImport" | translate:locale.language}}
                    </button>
                </div>
                <div class="form-text" [innerHTML]="'MakerWorldImportInfoText' | translate:locale.language"></div>
            </form>
        </div>
    </div>
</ng-container>
