<table class="table table-striped">
    <thead>
    <tr>
        <th class="col-3">{{ "Link" | translate:locale.language }}</th>
        <th class="col-7">{{ "Description" | translate:locale.language }}</th>
        <th class="col-2">{{ "Actions" | translate:locale.language }}</th>
    </tr>
    </thead>
    <tbody>
        @for (link of model.links; track link) {
            <tr>
                <td class="align-middle">
                    <a href="{{link.link}}" target="_blank">{{ link.title }}</a>
                </td>
                <td class="align-middle"
                    [innerHTML]="link.description.breakToBr()"></td>
                <td class="align-middle">
                    <div class="btn-group btn-group-sm">
                        <a href="{{link.link}}" target="_blank" class="btn btn-primary">
                            <span class="fas fa-external-link-alt"></span>
                        </a>
                        <button type="button" class="btn btn-secondary"
                                (click)="preFillEditLinkForm(link)">
                            <span class="fas fa-pencil-alt"></span>
                        </button>
                        <button type="button" class="btn btn-danger"
                                (click)="deleteLink(link)">
                            <span class="fas fa-trash-alt"></span>
                        </button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<hr class="my-3">
<div class="my-3 d-grid">
    <button (click)="openLinkForm = !openLinkForm" class="btn btn-primary">
        {{ "ShowAddEditLinkForm" | translate:locale.language }}
        @if (!openLinkForm) {
            <span class="fas fa-chevron-down ms-2"></span>
        }
        @if (openLinkForm) {
            <span class="fas fa-chevron-up ms-2"></span>
        }
    </button>
</div>
@if (openLinkForm) {
    <div class="mt-3">
        <form>
            <div class="row">
                <div class="col-md-5">
                    <label for="linkLink" class="form-label">
                        {{ "Link" | translate:locale.language }}
                    </label>
                    <input type="url" id="linkLink" #inputLinkLink class="form-control">
                </div>
                <div class="col-md-5">
                    <label for="linkTitle" class="form-label">
                        {{ "Title" | translate:locale.language }}
                    </label>
                    <input type="text" id="linkTitle" #inputLinkTitle class="form-control">
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-success w-100 mb-1"
                            (click)="saveLink($event)">
                        {{ "Save" | translate:locale.language }}
                    </button>
                    <button type="button" class="btn btn-danger w-100 mt-1"
                            (click)="clearLinkForm()">
                        {{ "Abort" | translate:locale.language }}
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label for="linkDescription" class="form-label">
                        {{ "Description" | translate:locale.language }}
                    </label>
                    <textarea id="linkDescription" #inputLinkDescription
                              class="form-control"></textarea>
                </div>
            </div>
        </form>
    </div>
}
