<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/" (click)="isCollapsed = true">
      <!--<img src="../favicon.ico" width="28" height="30" class="d-inline-block align-top" alt="">-->
      <span class="fas fa-cubes"></span> {{"3DModelManager" | translate:locale.language}}
    </a>

    <button class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="isCollapsed = !isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
      <!-- Left -->
      @if (!authService.isLoggedIn()) {
        <ul class="navbar-nav me-auto">
          <!-- for non-logged-in users -->
          @if (registrationMode !== "disabled") {
            <li class="nav-item">
              <a class="nav-link" routerLink="/auth/register">
                <span class="fas fa-user-plus"></span> {{"Register" | translate:locale.language}}
              </a>
            </li>
          }
          <li class="nav-item">
            <a class="nav-link" routerLink="/auth/login">
              <span class="fas fa-sign-in-alt"></span> {{"Login" | translate:locale.language}}
            </a>
          </li>
        </ul>
      }
      @if (authService.isLoggedIn()) {
        <ul class="navbar-nav me-auto">
          <!-- for logged-in users -->
          <li class="nav-item">
            <a class="nav-link" routerLink="/">
              <span class="fas fa-home"></span> {{"Home" | translate:locale.language}}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/model/list">
              <span class="fas fa-table-list"></span> {{"Models" | translate:locale.language}}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/tags/list">
              <span class="fas fa-table-cells"></span> {{"Tags" | translate:locale.language}}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/model/create">
              <span class="fas fa-plus-square"></span> {{"CreateModel" | translate:locale.language}}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/collection/list">
              <span class="fas fa-object-group"></span> {{"Collections" | translate:locale.language}}
            </a>
          </li>
        </ul>
      }

      <!-- Right -->
      <ul class="nav navbar-nav ms-auto">
        <li class="nav-item me-2">
          <div class="input-group input-group-sm my-1">
            <input class="form-control" type="search" #searchInput
              [placeholder]="'Search' | translate:locale.language" aria-label="Search"
              (keydown.enter)="searchButton.click()">
            <button type="button" class="btn btn-success" #searchButton
              (click)="search(searchInput.value)">
              {{"Search" | translate:locale.language}}
            </button>
          </div>
        </li>
        <li class="nav-item dropdown" ngbDropdown placement="bottom-end">
          <a class="nav-link dropdown-toggle"
            href="javascript:"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            ngbDropdownToggle>
            <span class="fas fa-globe-europe"></span> {{"ChangeLocale" | translate:locale.language}}
          </a>
          <ul class="dropdown-menu-end" ngbDropdownMenu aria-labelledby="navbarDropdown">
            <li>
              <button class="dropdown-item" ngbDropdownItem
                [class.active]="locale.language === 'de-DE'"
                (click)="isCollapsed = true; setLocale(locales['de-DE'])">
                <nxt-flag country="de" size="s" style="vertical-align: middle;"></nxt-flag>
                Deutsch
              </button>
            </li>
            <li>
              <button class="dropdown-item" ngbDropdownItem
                [class.active]="locale.language === 'en-GB'"
                (click)="isCollapsed = true; setLocale(locales['en-GB'])">
                <nxt-flag country="uk" size="s" style="vertical-align: middle;"></nxt-flag>
                English
              </button>
            </li>
          </ul>
        </li>
        @if (authService.isLoggedIn()) {
          <li class="nav-item dropdown" ngbDropdown placement="bottom-end">
            <a class="nav-link dropdown-toggle"
              href="javascript:"
              id="navbarProfileDropDown"
              role="button"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              ngbDropdownToggle>
              <span class="fas fa-circle-user"></span> {{"Profile" | translate:locale.language}}
            </a>
            <ul class="dropdown-menu-end" ngbDropdownMenu aria-labelledby="navbarProfileDropDown">
              <li><h6 class="dropdown-header">{{"Profile" | translate:locale.language}}</h6></li>
              <li>
                <button class="dropdown-item" ngbDropdownItem routerLink="profile">
                  <span class="far fa-circle-user fa-fw"></span> {{"ShowProfile" | translate:locale.language}}
                </button>
              </li>
              <li>
                <button class="dropdown-item" ngbDropdownItem routerLink="profile/edit">
                  <span class="fas fa-pen-to-square fa-fw"></span> {{"EditProfile" | translate:locale.language}}
                </button>
              </li>
              <li>
                <button class="dropdown-item" ngbDropdownItem routerLink="profile/accounts">
                  <span class="fas fa-users-gear fa-fw"></span> {{"ManageAccounts" | translate:locale.language}}
                </button>
              </li>
              @if (isAdmin) {
                <li><hr class="dropdown-divider"></li>
                <li><h6 class="dropdown-header">{{"Admin" | translate:locale.language}}</h6></li>
                <li>
                  <button class="dropdown-item" ngbDropdownItem routerLink="admin/invitation-tokens">
                    <span class="fas fa-key fa-fw"></span> {{"InvitationTokens" | translate:locale.language}}
                  </button>
                </li>
              }
              <li><hr class="dropdown-divider"></li>
              <li>
                <button class="dropdown-item" ngbDropdownItem (click)="logout()">
                  <span class="fas fa-sign-out-alt fa-fw"></span> {{"Logout" | translate:locale.language}}
                </button>
              </li>
            </ul>
          </li>
        }

      </ul>
    </div>
  </div>
</nav>
