<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" routerLink="/" (click)="isCollapsed = true">
        <!--<img src="../favicon.ico" width="28" height="30" class="d-inline-block align-top" alt="">-->
        <span class="fas fa-cubes"></span> {{"3DModelManager" | translate:locale.language}}
    </a>

    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
            (click)="isCollapsed = !isCollapsed">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
        <!-- Left -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/">
                    <span class="fas fa-home"></span> {{"Home" | translate:locale.language}}
                </a>
            </li>
        </ul>

        <!-- Right -->
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item dropdown" ngbDropdown [placement]="'bottom-right'">
                <a class="nav-link dropdown-toggle"
                   href="javascript:"
                   id="navbarDropdown"
                   role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="false"
                   ngbDropdownToggle>
                    <span class="fas fa-globe-europe"></span> {{"ChangeLocale" | translate:locale.language}}
                </a>
                <ul class="dropdown-menu-right" ngbDropdownMenu aria-labelledby="navbarDropdown">
                    <li>
                        <button class="dropdown-item" ngbDropdownItem
                                [class.active]="locale.language === 'de-DE'"
                                (click)="isCollapsed = true; setLocale(locales['de-DE'])">
                            <flag code="de" size="s"></flag> Deutsch
                        </button>
                    </li>
                    <li>
                        <button class="dropdown-item" ngbDropdownItem
                                [class.active]="locale.language === 'en-GB'"
                                (click)="isCollapsed = true; setLocale(locales['en-GB'])">
                            <flag code="gb" size="s"></flag> English
                        </button>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <form class="form-inline my-2 my-lg-0">
                    <!-- TODO: Button group, button in field -->
                    <input class="form-control mr-sm-2" type="search" [placeholder]="'search' | translate:locale.language" aria-label="Search">
                    <button class="btn btn-success my-2 my-sm-0" type="submit">{{"Search" | translate:locale.language}}</button>
                </form>
            </li>
        </ul>
    </div>
</nav>
