<form [formGroup]="uploadForm">
    <div class="row">
        <div class="col">
            <label class="form-label" for="modelName">{{ 'ModelName' | translate:locale.language }}:</label>
            <input [placeholder]="'Name' | translate:locale.language" class="form-control" formControlName="name"
                   id="modelName" required
                   type="text">
        </div>
        <div class="col">
            <label class="form-label" for="author">{{ 'Author' | translate:locale.language }}:</label>
            <input [placeholder]="'Author' | translate:locale.language" class="form-control" formControlName="author"
                   id="author" required
                   type="text">
        </div>
        <div class="col">
            <div class="form-check form-check-inline mt-4">
                <input class="form-check-input" formControlName="favorite" id="favorite"
                       type="checkbox">
                <label class="form-check-label" for="favorite">
                    {{ 'Favorite' | translate:locale.language }}?
                </label>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <label class="form-label" for="desc">{{ 'Description' | translate:locale.language }}</label>:
            <textarea [placeholder]="'Description' | translate:locale.language" class="form-control"
                      formControlName="description"
                      id="desc"></textarea>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <button (click)="createModel()" class="btn btn-primary"
                    type="submit">
                {{ "CreateModel" | translate:locale.language }}
            </button>
        </div>
    </div>
</form>
