<img class="card-img-top bg-light w-100" [alt]="model.name" *ngIf="sessionId"
     [src]="apiUrl + '/model/file/main/' + model.id + '?' + sessionName + '=' + sessionId">
<div class="card-body">
    <h5 class="card-title">
        {{model.name}}<br/>
        <small *ngIf="model.imported_name" class="ms-2 text-muted">
            {{model.imported_name}}
        </small>
    </h5>
    <p class="card-text">
        <span class="fas fa-user"></span> {{model.author}}
        <small class="text-muted" *ngIf="model.imported_author"> ({{model.imported_author}})</small>
    </p>
    <p class="card-text">
        <span class="fas fa-clock"></span>
        {{model.created_at | date:"mediumDate":undefined:locale.language}},
        {{model.created_at | date:"shortTime":undefined:locale.language}}
    </p>
</div>
<div class="card-footer text-muted d-grid">
    <a routerLink="/model/{{model.id}}" class="btn btn-primary">
        <small class="fas fa-arrow-right me-2"></small>
        {{"GoToModel" | translate:locale.language}}
    </a>
</div>
