<a routerLink="/model/{{model.id}}">
    @if (sessionId) {
        <img class="card-img-top bg-light w-100 thumbnail-200" [alt]="model.name"
             [src]="apiUrl + '/thumbnails/model/' + model.id + '/main' + '?format=Quadratic&size=200' + '&' + sessionName + '=' + sessionId">
    }
</a>
<div class="card-body">
    <span class="card-title fa-lg">
        <span [title]="model.importedName ? '' : model.importedName">{{ model.name }}</span>
    </span>
    <p class="card-text mt-3">
        <span [title]="'Author' | translate:locale.language" class="fas fa-user"></span>&nbsp;
        <span [title]="model.importedAuthor ? '' : model.importedAuthor">{{ model.author }}</span>
    </p>
    <p class="card-text">
        <span [title]="'CreatedAt' | translate:locale.language" class="fas fa-clock"></span>
        {{ model.createdAt | date:"mediumDate":undefined:locale.language }},
        {{ model.createdAt | date:"shortTime":undefined:locale.language }}
    </p>
</div>
<div class="card-footer text-muted d-grid">
    @if (!editCollection) {

        <a routerLink="/model/{{model.id}}" class="btn btn-primary">
            <small class="fas fa-arrow-right me-2"></small>
            {{ "GoToModel" | translate:locale.language }}
        </a>

    }
    @if (editCollection) {

        <div class="btn-group">
            <button (click)="collectionEditEvent.emit({event: 'setMain', modelId: model.id})"
                    class="btn btn-primary"
                    [class.active]="isMainModelOfCollection()"
                    [ngbTooltip]="(isMainModelOfCollection() ? 'MainModelOfCollection' : 'SetMainModelCollection') | translate:locale.language">
          <span class="fa-square-check"
                [class.fas]="isMainModelOfCollection()"
                [class.far]="!isMainModelOfCollection()"></span>
            </button>
            <button (click)="collectionEditEvent.emit({event: 'delete', modelId: model.id})"
                    class="btn btn-danger"
                    [ngbTooltip]="'RemoveFromCollection' | translate:locale.language">
                <span class="fas fa-trash"></span>
            </button>
        </div>
    }
</div>
