<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">
            {{ "Home" | translate:locale.language }}
        </li>
    </ol>
</nav>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>{{ "Profile" | translate:locale.language }}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h2>{{ "Statistics" | translate:locale.language }}</h2>
            @if (profileStats) {
            <div class="row">
                <div class="col-6 table-responsive">
                    <table class="table table-striped align-middle">
                        <tbody>
                        <tr>
                            <td class="col-6">{{ "Models" | translate:locale.language }}</td>
                            <td class="col-6">{{
                                    "statistics.OfWhichImported" | translate:locale.language:{
                                        count: profileStats.modelCount,
                                        importedCount: profileStats.modelImportedCount
                                    }
                                }}
                            </td>
                        </tr>
                        <tr>
                            <td>{{ "Favorites" | translate:locale.language }}</td>
                            <td>{{ profileStats.favoriteCount }}</td>
                        </tr>
                        <tr>
                            <td>{{ "Authors" | translate:locale.language }}</td>
                            <td>{{ profileStats.authorCount }}</td>
                        </tr>
                        <tr>
                            <td>{{ "Tags" | translate:locale.language }}</td>
                            <td>{{ profileStats.tagCount }}</td>
                        </tr>
                        <tr>
                            <td>{{ "Collections" | translate:locale.language }}</td>
                            <td>{{ profileStats.collectionCount }}</td>
                        </tr>
                        <tr>
                            <td>{{ "statistics.ModelsInCollections" | translate:locale.language }}</td>
                            <td>{{ profileStats.modelsInCollectionsCount }}</td>
                        </tr>
                        <tr>
                            <td>{{ "Images" | translate:locale.language }}</td>
                            <td>{{ profileStats.imageFileCount }}</td>
                        </tr>
                        <tr>
                            <td>{{ "3DModels" | translate:locale.language }}</td>
                            <td>{{ profileStats.threedModelFileCount }}</td>
                        </tr>
                        <tr>
                            <td>{{ "statistics.TotalFiles" | translate:locale.language }}</td>
                            <td>{{ profileStats.fileCount }}</td>
                        </tr>
                        <tr>
                            <td>{{ "Links" | translate:locale.language }}</td>
                            <td>{{ profileStats.linkCount }}</td>
                        </tr>
                        <tr>
                            <td>{{ "StorageSpace" | translate:locale.language }}</td>
                            <td>{{ profileStats.usedSpace }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-6">
                    <table class="table table-striped align-middle">
                        <tbody>
                        <tr>
                            <td class="col-6">{{ "statistics.MostCommonImportSource" | translate:locale.language }}</td>
                            <td class="col-6">{{ profileStats.mostCommonImportSource }}</td>
                        </tr>
                        <tr>
                            <td>{{ "statistics.LargestFile" | translate:locale.language }}</td>
                            <td>{{ profileStats.largestFileSize }}</td>
                        </tr>
                        <tr>
                            <td>{{ "statistics.MostFrequentAuthor" | translate:locale.language }}</td>
                            <td>{{ profileStats.mostFrequentAuthor }}</td>
                        </tr>
                        <tr>
                            <td>{{ "statistics.ModelWithMostFiles" | translate:locale.language }}</td>
                            <td>{{ profileStats.modelWithMostFilesCount }}</td>
                        </tr>
                        <tr>
                            <td>{{ "statistics.ModelWithMost3DModels" | translate:locale.language }}</td>
                            <td>{{ profileStats.modelWithMost3DModelsCount }}</td>
                        </tr>
                        <tr>
                            <td>{{ "statistics.FirstModel" | translate:locale.language }}</td>
                            <td>{{ profileStats.firstModel.name }}</td>
                        </tr>
                        <tr>
                            <td>{{ "statistics.LatestModel" | translate:locale.language }}</td>
                            <td>{{ profileStats.latestModel.name }}</td>
                        </tr>
                        <tr>
                            <td>{{ "statistics.LastEditedModel" | translate:locale.language }}</td>
                            <td>{{ profileStats.lastEditedModel.name }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            }
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <app-list-element
                [models]="favorites"
                header="Favorites"></app-list-element>
        </div>
    </div>
</div>
