<a routerLink="/collection/{{collection.id}}">
    @if (collection.mainModel) {
        @if (sessionId) {
            <img class="card-img-top bg-light w-100 thumbnail-200" [alt]="collection.name"
                 [src]="apiUrl + '/thumbnails/model/' + collection.mainModel + '/main?format=Quadratic&size=200&' + sessionName + '=' + sessionId">
        }

    }
    @if (!collection.mainModel) {

        @if (sessionId) {
            <img class="card-img-top bg-light w-100 thumbnail-200" [alt]="collection.name"
                 [src]="apiUrl + '/thumbnails/default?format=Quadratic&size=200&' + sessionName + '=' + sessionId">
        }

    }
</a>
<div class="card-body">
    <span class="card-title fa-lg">
        <span>{{ collection.name }}</span>
    </span>
    <p class="card-text mt-3">
        <span [title]="'CreatedAt' | translate:locale.language" class="fas fa-clock"></span>
        {{ collection.createdAt | date:"mediumDate":undefined:locale.language }},
        {{ collection.createdAt | date:"shortTime":undefined:locale.language }}
    </p>
</div>
<div class="card-footer text-muted d-grid">
    <a class="btn btn-primary" routerLink="/collection/{{collection.id}}">
        <small class="fas fa-arrow-right me-2"></small>
        {{ "GoToCollection" | translate:locale.language }}
    </a>
</div>
