<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">
            {{ "Home" | translate:locale.language }}
        </li>
    </ol>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <app-list-element
                [models]="randomModels"
                deactivatePagination="true"
                halfSize="true"
                header="RandomModels"
                pageSize="4"></app-list-element>
        </div>
        <div class="col-6">
            <app-list-element
                [models]="newestModels"
                deactivatePagination="true"
                halfSize="true"
                header="NewestModels"
                pageSize="4"></app-list-element>
        </div>
    </div>
</div>
