<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">
            {{"Home" | translate:locale.language}}
        </li>
    </ol>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col">
                    <h2>{{"RandomModels" | translate:locale.language}}</h2>
                </div>
            </div>
            <app-model-cards-element halfSize="true" listType="random" numberOfModels="4"></app-model-cards-element>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col">
                    <h2>{{"NewestModels" | translate:locale.language}}</h2>
                </div>
            </div>
            <app-model-cards-element halfSize="true" listType="newest" numberOfModels="4"></app-model-cards-element>
        </div>
    </div>
</div>
