<div class="row" (window:resize)="setRendererSize()">
    <div class="col-md">
        <ng-container *ngFor='let fileType of ["image" , "model" , "diagram", "pdf"]'>
            <ng-container
                *ngIf="viewableFilesMap.get(fileType) && viewableFilesMap.get(fileType).length > 0 && fileNavigation == fileType">
                <ngb-carousel class="rounded" style="background-color: #e0e0e0; min-height: 50px;height: 50vh;"
                              [interval]="0">
                    <ng-template ngbSlide
                                 *ngFor="let file of viewableFilesMap.get(fileType) | objectArraySort:'position':false">
                        <div class="container w-100 d-flex align-items-center justify-content-center my-1"
                             *ngIf="sessionId">
                            <ng-container
                                [ngSwitch]="fileTypesService.getApplicationFromName(file.filename)">
                                <img *ngSwitchCase="'image'"
                                     style="height: calc(50vh - 7px);"
                                     [alt]="file.filename"
                                     [src]="apiUrl + '/model/file/' + file.id + '?' + sessionName + '=' + sessionId">
                                <video *ngSwitchCase="'video'"
                                       style="height: calc(50vh - 7px);"
                                       [src]="apiUrl + '/model/file/' + file.id + '?' + sessionName + '=' + sessionId">
                                    {{"error.VideoDoesntWork" | translate:locale.language}}
                                </video>
                                <div *ngSwitchCase="'pdf'" style="height: calc(50vh - 7px); calc(100% - 20%);">
                                    <pdf-viewer
                                        [src]="apiUrl + '/model/file/' + file.id + '?' + sessionName + '=' + sessionId">
                                    </pdf-viewer>
                                </div>
                                <div *ngSwitchCase="'model'">
                                    <stl-model-viewer
                                        [stlModels]="[apiUrl + '/model/file/' + file.id + '?' + sessionName + '=' + sessionId]"
                                        [renderer]="threeRenderer"
                                        [scene]="threeScene"
                                        [material]="threeMaterial">
                                    </stl-model-viewer>
                                </div>
<!--                                <div *ngSwitchDefault style="height: 50vh;">-->
<!--                                    {{"error.Unknown" | translate:locale.language}}-->
<!--                                </div>-->
                            </ng-container>
                        </div>
                    </ng-template>
                </ngb-carousel>
            </ng-container>
        </ng-container>
        <div class="container w-100 d-flex align-items-center justify-content-center my-1"
             *ngIf="!viewableFilesMap.get(fileNavigation) || viewableFilesMap.get(fileNavigation).length == 0">
            {{"NoFiles" | translate:locale.language}}
        </div>
    </div>
</div>

<div class="row mt-2" *ngIf="viewableFilesMap.size >= 2">
    <div class="col-md">
        <div class="btn-group btn-group-sm w-100">
            <button class="btn btn-outline-primary"
                    *ngIf="viewableFilesMap.get('image') && viewableFilesMap.get('image').length > 0"
                    [class.active]="fileNavigation == 'image'"
                    (click)="fileNavigation = 'image'">
                {{"Images" | translate:locale.language}}
            </button>
            <button class="btn btn-outline-primary"
                    *ngIf="viewableFilesMap.get('model') && viewableFilesMap.get('model').length > 0"
                    [class.active]="fileNavigation == 'model'"
                    (click)="fileNavigation = 'model'">
                {{"Models" | translate:locale.language}}
            </button>
            <button class="btn btn-outline-primary"
                    *ngIf="viewableFilesMap.get('diagram') && viewableFilesMap.get('diagram').length > 0"
                    [class.active]="fileNavigation == 'diagram'"
                    (click)="fileNavigation = 'diagram'">
                {{"Diagrams" | translate:locale.language}}
            </button>
            <button class="btn btn-outline-primary"
                    *ngIf="viewableFilesMap.get('pdf') && viewableFilesMap.get('pdf').length > 0"
                    [class.active]="fileNavigation == 'pdf'"
                    (click)="fileNavigation = 'pdf'">
                {{"PdfDocuments" | translate:locale.language}}
            </button>
        </div>
    </div>
</div>
